*.iml
/.idea
.vscode/

.DS_Store
Thumbs.db

/local.properties
local.properties
.env
.env.*

.gradle/
.kotlin/
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/

*.apk
*.aab
*.ap_
*.aar

*.jks
*.keystore
*.pem
*.p12
*.pfx
*.key
